# --- Núcleo de Interfaz y Mapas ---
streamlit
streamlit-folium
folium
matplotlib

# --- Motor de Grafo y Geometría (UrbanOS Core) ---
osmnx
networkx
scipy
scikit-learn

# --- Infraestructura y API (Paso 2 Ready) ---
fastapi
uvicorn
pydantic
requests

# --- Utilidades y Pruebas ---
psutil
pytest
jinja2